.sign-up-helper-text {
    color:#6A7284;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.sign-up-helper-text:hover {
    color: #4D4F5C;
}

.sign-up-input {    
    width:335px;
    height:35px;
    padding-left: 20px;
    background-color:white;

    border-color: #DEE2EC;
    border-width: 2px;
    border-style:solid;
    border-radius: 20px;

    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    color:#6A7284;
    margin:10px;
}

.sign-up-input::placeholder {
    color:#DEE2EC;
}

.sign-up-input:hover {
    border-color:#55EFC4; 
    transition: 0.3s ease;
}

.sign-up-input:focus {
    border-color:#55EFC4;
    outline: none;
}

.sign-up-button {
    background-color:#55EFC4;
    color:white;
    border-style:solid;
    border-color: #55efc4;
    border-width: 2px;
    border-radius: 17px;
    box-shadow: 0px 5px 10px rgb(85, 239, 196,0.3);
    font-family: 'Roboto', sans-serif;
    font-size:16px;
    text-transform: uppercase;
    width: 200px;
    height: 35px;
    margin: 20px;
    outline: none;
    cursor: pointer;
}

.sign-up-button:hover {
    background-color:#50e0b8;
    border-color: #50e0b8;
}

.sign-up-button:focus {
    outline: none;
}


.button-empty{
    color: #55EFC4;
    background: #fff;
}

.button-empty:hover{
    color: #fff;
}

.sign-up-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color:#fff;
    box-shadow: 0px 3px 5px rgb(106, 114, 132,0.2);
}

.sign-up-title {
    color:#6A7284;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 3px;
    text-align: center;
}

.sign-up-helper-text {
    color:#6A7284;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    text-align: center;
}

.agreement {
    display:flex;
    flex-direction: row;
    margin:20px;
    align-items: center;
    justify-content: center;
}

.view {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background-image: url(../assets/background.svg); 
    background-size: cover; */
}

.padded-container {
    padding:50px 150px;
}

@media screen and (max-width: 750px) {
    .padded-container {
        padding: 20px 50px;
        width: 70vw;
    }
    
    .sign-up-input {
        width: 250px;
    }
}

@media screen and (max-width: 500px) {
    .sign-up-input {
        width: 220px;
    }
}

.input-error {
    border-color: red;
}

.d-none {
    display: none !important;
}

.error-message {
    text-align: center;
    color: red;
}


header .mobile-buttons i {
    margin-right: 20px;
    color: #6A7284;
    font-size: 30px;
}

header .search i {
    display: none;
}


header {
    width: 100%;
    height: 60px;
    border-bottom: 2px solid #DEE2EC;

    display: flex;
    align-items: center;
    justify-content: space-between;

    position: fixed;
    background-color: #fff;
}

header .logo {
    height: 60px;
    width: auto;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

header .logo span {
    margin-left: 15px;
    color: #6A7284;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

header .circle {
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-color: #55EFC4;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 25px;
}

header label {
    width: 33%;
}

header label .sign-up-input {
    width: 100% !important;
}

.user .name {
    margin-left: 15px;
    color: #8A8D94;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.menu .big-user .name {
    margin-bottom: 10px;
    color: #8A8D94;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}


.user {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.user img {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #55EFC4;
}

.user .name {
    margin-left: 15px;
    color: #8A8D94;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}

.user .arrow {
    width: 10px;
    margin-left: 15px;
    font-size: 14px;
    color: #DEE2EC;
    cursor: pointer;
}

.user .arrow:hover {
    color: #6A7284;
    transition: 0.3s ease;
}

.bicycle {
    font-size: 3em;
    color: #55EFC4;
}

.name {
    color: #8A8D94;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.container {
    display: flex;
    padding-top: 62px;
}

.container .overlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(106, 114, 132, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.spinner {
    height: 150px;
    width: 150px;
}

.menu {
    position: fixed;   
    width: 17%;
    height: calc(100vh - 82px);
    padding-top: 20px;
    border-right: 2px solid #DEE2EC;
    display: block;
    background-color: #fff;
}

@media screen and (max-width: 1248px) {
    .menu {
        width: 30%;
    }

    .content {
        padding-left: 30%;
    }
}

@media screen and (max-width: 768px) {
    .menu {
        display: none;
        width: 70%;
        height: calc(100vh - 20px);
        z-index: 105;
        left: 0;
        top: 0;
    }

    header {
        display: flex;
        flex-wrap: wrap;

        height: auto;
    }

    header .search {
        display: none;
        width: 100%;
        padding: 10px 20px;
        align-items: center;

        border-top: 2px solid #DEE2EC;
    }

    header .search i {
        display: block;
        margin-left: 10px;

        color: #DEE2EC;
        font-size: 30px;
    }

    .user {
        display: none;
    }
}

.menu .option {
    width: calc(100% - 20px);
    height: 40px;
    padding-left: 20px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.menu .option:hover {
    background-color: #F7F9F9;
    transition: 0.2s ease;
}

.menu .option-selected {
    background-color: #F7F9F9;
}

.menu .big-user {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .menu .big-user {
        display: none;
    }
}

.menu .big-user img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
    border-radius: 50%;
}

.menu .big-user .name {
    margin-bottom: 10px;
    color: #8A8D94;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
}

.menu .option .circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #55EFC4;
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
}

.menu .option-name {
    margin-left: 10px;
    color: #6A7284;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    letter-spacing: 2px;
}

.menu .group-title {
    margin: 20px 0 10px 20px;
    color: #6A7284;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: 900;
    letter-spacing: 2px;
}

.menu .add-new-group {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.content-container {
    width: 90%;
}

@media screen and (max-width: 768px) {
    .content-container {
        width: 100%;
    }
}

.feed-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6A7284;
    text-align: center;
}

.content-view-filter {
    display: flex;
    flex-direction: row;
    padding: 0 10px;;
}

@media screen and (max-width: 768px) {
    .content-view-filter {
        display:flex;
        flex-direction: column-reverse;

        margin: 0;
        margin-bottom: 2.5rem;
    }

    .filters-container {
        max-width: 100rem;
        margin-bottom: 2.5rem;
    }

    .content-list {
        margin-right: 0;
    }

    .article-image {
        margin: 0;
        width: 100vw;
    }
}

.content-list {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
    width: 80%;
}


.article-container {
    margin: 2rem auto 2rem auto;
}

.article-header.readmore {
    flex-direction: column;
}

.article-header.readmore > div {
    margin: 0.75rem 0 0.75rem 0;
}

.article-image {
    width: 100%;
    min-height: 15rem;
    max-height: 25rem;
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden; /* hide the overflow */
    transition: all .2s ease;
    vertical-align: middle;
    background-image: url(/src/assets/article-header-test.png);
}

.article-header.readmore > .article-image > img {
    margin: auto;
    width: 100%;
}

.article-header.readmore > .article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-header.readmore > .article-labels {}

.article-source {
    margin: 0.5rem 0 0.5rem 0;
}

.article-source > p {
    margin: 0;
    font-size: 1.2rem;
    text-decoration: underline;
    cursor: pointer;
    color: #6A7284;
}


.article {
    display: flex;
    flex-direction: column;
    max-width: 53.125rem;
    justify-items: center;
    padding: 1.25rem 1.875rem;
    margin-bottom: 2.5rem;
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: #DEE2EC;
}

.article-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.article-title {
    align-self: start;
    font-weight: bold;
    font-size: 1.125rem;
    color: #6A7284;
}

.popularity-score {
    font-size: 1.125rem;
    color: #6A7284;
}

.article-content {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: #6A7284;
    letter-spacing: 0.0625rem;
}

.article-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-tag-label {
    margin-right: 0.625rem;
}

.article-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tag-list {
    display: flex;
    flex-direction: row;
}

.tag-label {
    height: 1.25rem;
    background-color: #55EFC4;
    border-radius: 10px;
    padding: 0 1rem;
    line-height: 1.25rem;
    text-align: center;
    font-size: 0.75rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 0.625rem;
    margin-bottom: 0.35rem;
}

.article-tag-label {
    margin-right: 0.625rem;
}

.content {    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
    padding-left: 25%;
    font-family: 'Roboto',sans-serif;
    min-width: 80%;
}

.article-container {
    margin: 2rem auto 2rem auto;
}

.article-header.readmore {
    flex-direction: column;
}

.article-header.readmore > div {
    margin: 0.75rem 0 0.75rem 0;
}

.article-image {
    width: 100%;
    min-height: 15rem;
    max-height: 25rem;
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden; /* hide the overflow */
    transition: all .2s ease;
    vertical-align: middle;
    background-image: url(/src/assets/article-header-test.png);
}

.article-header.readmore > .article-image > img {
    margin: auto;
    width: 100%;
}

.article-header.readmore > .article-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.article-header.readmore > .article-labels {}

.article-source {
    margin: 0.5rem 0 0.5rem 0;
}

.article-source > p {
    margin: 0;
    font-size: 1.2rem;
    text-decoration: underline;
    cursor: pointer;
    color: #6A7284;
}

.feed-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #6A7284;
    text-align: center;
}

.content-view-filter {
    display: flex;
    flex-direction: row;
    padding: 0 10px;;
}

.content-list {
    display: flex;
    flex-direction: column;
    margin-right: 2.5rem;
}

.article {
    display: flex;
    flex-direction: column;
    max-width: 53.125rem;
    justify-items: center;
    padding: 1.25rem 1.875rem;
    margin-bottom: 2.5rem;
    background-color: #fff;
    border-style: solid;
    border-width: 2px;
    border-color: #DEE2EC;
}

.article-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

.article-title {
    align-self: start;
    font-weight: bold;
    font-size: 1.125rem;
    color: #6A7284;
}

.popularity-score {
    font-size: 1.125rem;
    color: #6A7284;
}

.article-content {
    margin-bottom: 1rem;
    font-size: 0.875rem;
    color: #6A7284;
    letter-spacing: 0.0625rem;
}

.article-footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.tag-list {
    display: flex;
    flex-direction: row;
}

.tag-label {
    height: 1.25rem;
    background-color: #55EFC4;
    border-radius: 10px;
    padding: 0 1rem;
    line-height: 1.25rem;
    text-align: center;
    font-size: 0.75rem;
    color: #FFFFFF;
    font-weight: bold;
    margin-right: 0.625rem;
    margin-bottom: 0.35rem;
}

.article-tag-label {
    margin-right: 0.625rem;
}

.read-more-link {
    font-size: 1rem;
    color: #6A7284;
    letter-spacing: 0.0625rem;
}

.filters-container {
    min-height: 18.75rem;
    max-height: 24rem;
    max-width: 13.75rem;
    background-color: white;
    border-style: solid;
    border-width: 2px;
    border-color: #DEE2EC;
}

.filters-padded-container {
    padding: 1.25rem;
}

.filters-container-title {
    margin-bottom: 1.25rem;
    text-align: center;
    font-size: 1rem;
    font-weight: bold;
    color: #6A7284;
}

.filter-subtitle {
    font-size: 1rem;
    color: #6A7284;
    letter-spacing: 1px;
}

.popularity-filter-score {
    margin: 0;
    color: #6A7284;
    text-align: center;
    font-size: 0.875rem;
}

.popularity-slider {
    -webkit-appearance: none;
    width: 100%;
    height: 3px;
    border-radius: 3px;
    background: #d3d3d3;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 2px solid #55EFC4;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;

    /* margin-top: -14px; */
}

input[type=range]::-moz-range-thumb {
    border: 2px solid #55EFC4;
    height: 10px;
    width: 10px;
    border-radius: 10px;
    background: #ffffff;
    cursor: pointer;
  }
  
  .tag-filter{
      display:flex;
      flex-wrap: wrap;
  }

  @media screen and (max-width: 768px) {
    .content-view-filter {
        display:flex;
        flex-direction: column-reverse;

        margin: 0;
        margin-bottom: 2.5rem;
    }

    .filters-container {
        max-width: 100rem;
        margin-bottom: 2.5rem;
    }

    .content-list {
        margin-right: 0;
    }

    .article-image {
        margin: 0;
        width: 100vw;
    }
}

.red {
    background-color: red !important; 
}

.blue {
    background-color: blue !important; 
}

.orange {
    background-color: orange;
}

div.pop-up-wrapper {
    position: relative;
    background-color: #fff;
    z-index: 60;
    width: 40em;
    height: 25em;
    border-radius: 2px;
    box-sizing: border-box;
    box-shadow: rgb(15, 38, 58) 0px 0px 15px;
    overflow-y: auto;
}

@media (max-width: 500px) {
    div.pop-up-wrapper {
        width: 100%;
        height: 50%;
        padding-top: 12%;
    }
}

.pop-up {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(32, 32, 32, 0.712);
    z-index: 110;
    align-items: center;
    justify-content: center;
    display: flex;
}

span.exit-form {
    position: absolute;
    top: 5%;
    right: 5%;
    color: #1C3144;
}

span.exit-form:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.article:hover {
    cursor: pointer;
}   

.issues {
    margin: 3em 1.5em 1em;
    overflow-y: auto;
}

.price-history {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.major {
    background-color: #DE5801;
}