$purple: #7540EE;
$black: #25265E;
$gray001: #787993;
$gray002: #DFDFE4;
$white: #fff;
$orange: #FF7052;

$purple-20opacity: rgba(117,64,238,0.2);
$purple-30opacity: rgba(117,64,238,0.3);
$orange-20opacity: rgba(255,112,82,0.2);