<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="stylesheets/general.css">
        <link rel="stylesheet" href="stylesheets/sensor.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
		<title>Sensor</title>
    </head>
    <body>
        <div class="sensor-form-wrapper">
            <div class="sensor-form">
                <h2 class="sensor-title">
                    Sensor
                </h2>
                <input type="text" class="sensor-input primary" placeholder="identificator parinte">
                <input type="text" class="sensor-input primary" placeholder="semnal">
                <button class="primary sensor-button">Trimite</button>
            </div>
        </div>
    </body>
</html>