<div class="center">
  <div class="login-component">
    <header>
      <h1>Hello</h1>
      <p class="nice-message">Sign in with your credentials or create a new account</p>
    </header>
    <div class="form">
      <div class="inputs">
        <input type="text" placeholder="Usename">
        <input type="password" placeholder="Password">
      </div>
      <div class="buttons">
        <button class="button-type-1 login">Login</button>
        <button class="button-type-2 forgot-password">Forgot password?</button>
     </div>
    </div>
    <footer>
      <p class="create-account">Still without account?</p>
      <button class="button-type-2 create-account">Create one</button>
    </footer>
  </div>
</div>