@import '../../shared/scss/colors.scss';
@import '../../shared/scss/size.scss';
@import '../../shared/scss/components.scss';


@media screen and (min-width: 400px)
{
    .center {
        height: 80vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-component {
        width: 300px;
    
        h1 {
            font-size: $h1-size;
            color: $black;
            margin-bottom: 10px;
        }
        .nice-message {
            color: $gray001;
            font-size: $p1-size;
        }
        .inputs {
            margin: 40px 0;
        }
        input {
            width: 100%;
        }
        .buttons {
            display: flex;
            justify-content: space-between;
        }
        
        footer { 
            margin-top: 30px;
            display: flex;
            justify-content: center;
            * {
                display: inline;
             }
             p {
                font-size: $p1-size;
                color: $gray001;
             }
             button.create-account {
                 padding-top: 7px;
                 color: $orange;
                 text-decoration-color: $orange-20opacity;
             }
         }
    }
}