<div class="center">
  <div class="login-component">
    <header>
      <h1>Create account</h1>
      <p class="nice-message">Please enter your account data</p>
    </header>
    <div class="form">
      <div class="inputs">
        <input type="text" placeholder="Username" [(ngModel)]="account.username">
        <input type="password" placeholder="Password" [(ngModel)]="account.password">
        <input type="password" placeholder="Repeate Password" [(ngModel)]="account.repetePassword">
      </div>
      <div class="buttons">
        <button class="button-type-1 login" (click)="register()">Register</button>
     </div>
    </div>
  </div>
</div>
